In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [104]:
data1 = pd.read_csv('../data/output/submission_baseline.csv')#.sort_values(by = 'id').reset_index(drop=True)
data2 = pd.read_csv('../data/output/categorical-emb.csv')#.sort_values(by = 'id').reset_index(drop=True)
data3 = pd.read_csv('../data/output/submission_diff_span_each_store_28.csv')#.sort_values(by = 'id').reset_index(drop=True)
data4 = pd.read_csv('../data/output/submission_catboost_28.csv')
data5 = pd.read_csv('../data/output/submission_2y_28.csv')
data6 = pd.read_csv('../data/output/submission_poisson_early_stop_10.csv')
data7 = pd.read_csv('../data/output/submission_cat_emb_half_28.csv')
data8 = pd.read_csv('../data/output/submission_small_data_all_store28.csv')
data9 = pd.read_csv('../data/output/submission_simple_average_28.csv')
data10 = pd.read_csv('../data/output/submission_lstm_0.7_28.csv')
data11 = pd.read_csv('../data/output/submission_all_fe_new_new.csv', index_col=0)
data12 = pd.read_csv('../data/output/submission_state_magic.csv')
submission = data1.copy()

In [105]:
for c in submission.columns :
    if c != 'id' :
        submission[c] = 0.87*data12[c] + 0.11*data2[c] + 0.02*data7[c] + 0.00*data10[c] 
submission.to_csv('../data/output/submission27.csv',index=False)

In [3]:
data2.shape

(60980, 29)

In [5]:
#submission_baseline, categorical_emb = 0.87: 0.13の比率が最も良い

In [9]:
data11.shape

(60980, 29)

In [10]:
submission.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.787493,0.726956,0.718072,0.745001,0.906509,1.067954,1.197448,0.804846,0.858595,...,0.801719,0.983237,1.027977,0.836964,0.753243,0.773233,0.784617,0.939590,1.009719,1.004100
1,HOBBIES_1_002_CA_1_validation,0.152010,0.152895,0.156493,0.162393,0.181773,0.246814,0.276145,0.188791,0.184500,...,0.183175,0.224623,0.238340,0.164793,0.151906,0.160268,0.171957,0.173733,0.238080,0.240517
2,HOBBIES_1_003_CA_1_validation,0.423103,0.394278,0.408860,0.389737,0.535466,0.646322,0.663351,0.412829,0.372469,...,0.550589,0.669938,0.712912,0.476024,0.421971,0.429866,0.422730,0.544219,0.717655,0.675379
3,HOBBIES_1_004_CA_1_validation,1.736090,1.478094,1.477753,1.622054,2.096128,3.159254,3.209132,1.723673,1.524736,...,2.001619,2.682706,3.399975,1.789716,1.608020,1.573230,1.569358,2.099599,3.139410,3.429133
4,HOBBIES_1_005_CA_1_validation,0.887265,0.872902,0.866425,0.943634,1.117195,1.485113,1.610572,1.054223,1.019048,...,1.076883,1.489210,1.621953,0.981566,0.920925,0.945994,0.947305,1.109324,1.486176,1.534472

In [6]:
data11[data11['id'].str.contains('CA_3')].head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
3049,HOBBIES_1_001_CA_2_validation,0.549046,0.534464,0.593806,0.610776,0.659184,0.816808,0.783532,0.644835,0.615215,...,0.676221,0.882373,0.827623,0.641975,0.588668,0.632899,0.498511,0.618775,0.863112,0.861020
3050,HOBBIES_1_002_CA_2_validation,0.076390,0.073677,0.075692,0.084801,0.110055,0.163780,0.180476,0.099404,0.100607,...,0.128031,0.186206,0.199765,0.095020,0.090733,0.091629,0.087502,0.147366,0.212550,0.226031
3051,HOBBIES_1_003_CA_2_validation,0.282652,0.288568,0.273066,0.295640,0.429338,0.597568,0.608723,0.306450,0.347523,...,0.432916,0.560898,0.550923,0.310304,0.312582,0.323379,0.296548,0.394788,0.561958,0.526656
3052,HOBBIES_1_004_CA_2_validation,2.534878,2.839379,2.976933,2.665662,3.015046,3.392588,3.728778,2.844160,3.147404,...,3.304430,4.086242,4.057423,3.306012,2.844820,2.905165,2.777374,2.941764,4.024533,3.892032
3053,HOBBIES_1_005_CA_2_validation,1.357386,1.426420,1.298675,1.334394,1.438150,1.867420,1.914679,1.401713,1.527515,...,1.370388,1.719019,1.752140,1.349064,1.330973,1.275108,1.260686,1.202783,1.751976,1.847417

In [7]:
data11[data11['id'].str.contains('WI_2')].head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
24392,HOBBIES_1_001_WI_2_validation,0.158648,0.142383,0.165360,0.191445,0.222915,0.238403,0.195970,0.190615,0.216723,...,0.228582,0.322285,0.245834,0.166276,0.171035,0.187997,0.208045,0.252441,0.334536,0.240377
24393,HOBBIES_1_002_WI_2_validation,0.395941,0.487634,0.420967,0.456323,0.605722,0.685120,0.647129,0.529049,0.493735,...,0.482847,0.559640,0.491262,0.481727,0.467472,0.471696,0.465384,0.496005,0.602612,0.538707
24394,HOBBIES_1_003_WI_2_validation,0.130443,0.118719,0.133094,0.134757,0.146076,0.186300,0.129351,0.146190,0.145124,...,0.157779,0.178286,0.173320,0.144147,0.138287,0.144575,0.147624,0.176326,0.194204,0.184127
24395,HOBBIES_1_004_WI_2_validation,0.388367,0.402952,0.402410,0.443979,0.544506,0.573895,0.522709,0.575871,0.537977,...,0.523420,0.471666,0.471688,0.487636,0.473576,0.463739,0.467309,0.522893,0.475853,0.410630
24396,HOBBIES_1_005_WI_2_validation,0.526166,0.507125,0.515929,0.538749,0.689769,0.783779,0.667823,0.597069,0.542268,...,0.616642,0.680282,0.682673,0.575809,0.510790,0.505796,0.498699,0.621681,0.655524,0.588164

In [9]:
#これはおまけ
data11[data11['id'].str.contains('CA_1')].head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.783889,0.725020,0.719282,0.741555,0.910231,1.068287,1.198409,0.801078,0.868005,...,0.783010,0.981762,1.030879,0.840752,0.747888,0.770625,0.782680,0.944883,0.997164,0.978925
1,HOBBIES_1_002_CA_1_validation,0.143639,0.146079,0.139069,0.154118,0.175808,0.250898,0.285688,0.195234,0.188153,...,0.180559,0.221895,0.229073,0.160828,0.146766,0.156750,0.169891,0.169181,0.235736,0.237132
2,HOBBIES_1_003_CA_1_validation,0.414457,0.384740,0.401166,0.384835,0.532046,0.660720,0.666332,0.423194,0.378348,...,0.561611,0.673586,0.698771,0.478442,0.418764,0.431835,0.427030,0.559299,0.725329,0.670930
3,HOBBIES_1_004_CA_1_validation,1.658047,1.380087,1.419791,1.589146,2.070715,3.243275,3.309544,1.660615,1.437783,...,1.924799,2.652830,3.465477,1.698255,1.506341,1.474247,1.456103,2.018187,3.121930,3.500604
4,HOBBIES_1_005_CA_1_validation,0.871253,0.861122,0.848022,0.922487,1.103300,1.495416,1.572273,1.025886,0.981433,...,1.024780,1.443258,1.589310,0.929200,0.874277,0.907934,0.902801,1.060429,1.439007,1.484378

In [100]:
data11 = pd.read_csv('../data/output/submission_all_fe_new_new.csv', index_col=0)

In [101]:
for idx, row in data11.iterrows():
    if 'CA_2' in row['id']:
        data11.iloc[idx, 1:] = row[1:] * 1.05
    if 'WI_2' in row['id']:
        data11.iloc[idx, 1:] = row[1:] * 1.02

In [103]:
data11.to_csv('../data/output/submission_state_magic.csv', index=False)

In [579]:
#output28s

data11 = pd.read_csv('../data/output/all_features_recursive_less_28_submission_v1.csv')
data22 = pd.read_csv('../data/output/output_all_features_onetime_add2ids_recursive_less_28_submission_v1.csv')
data33 = pd.read_csv('../data/output/categorical-emb.csv')
data33.iloc[30490:, 1:] = data33.iloc[:30490, 1:].values
data33.fillna(0, inplace=True)
data44 = pd.read_csv('../data/output/output_all_features_28_submission_v1.csv')
data55 = pd.read_csv('../data/output/output_cat_emb_baseline_28_submission_v1.csv')
#以下は過学習の可能性が非常に高い。
#data66 = pd.read_csv('../data/output/output_all_features_onetime_add2ids_28_submission_v1.csv')
submission = data1.copy()

In [580]:
for c in submission.columns :
    if c != 'id' :
        submission[c] = (0.3*data11[c] + 0.3*data22[c] + 0.175*data33[c]/1.02 + 0.175*data44[c] + 0.05*data55[c])*1.02
#         submission[c] = 0.1*data11[c] + 0.1*data22[c] + 0.1*data33[c] + 0.6*data44[c] + 0.1*data55[c]
#         submission[c] = (data11[c] + data22[c] + data33[c]/1.02 + data44[c] + data55[c] )/5*1.02
#         submission[c] = data33[c]/1.02*1.03
submission.fillna(0, inplace=True)

In [581]:
# for idx, row in submission.iterrows():
#     if 'CA_2' in row['id']:
#         submission.iloc[idx, 1:] = row[1:] * 1.03
#     if 'WI_2' in row['id']:
#         submission.iloc[idx, 1:] = row[1:] * 1.01
submission.loc[submission['id'].str.contains('CA_1'), 'F1':'F28'] *= 0.999
submission.loc[submission['id'].str.contains('CA_2'), 'F1':'F28'] *= 1.032
submission.loc[submission['id'].str.contains('CA_3'), 'F1':'F28'] *= 0.999
submission.loc[submission['id'].str.contains('CA_4'), 'F1':'F28'] *= 1.001
submission.loc[submission['id'].str.contains('WI_1'), 'F1':'F28'] *= 1.0
submission.loc[submission['id'].str.contains('WI_2'), 'F1':'F28'] *= 1.017
submission.loc[submission['id'].str.contains('WI_3'), 'F1':'F28'] *= 1.005
submission.loc[submission['id'].str.contains('TX_1'), 'F1':'F28'] *= 1.0
submission.loc[submission['id'].str.contains('TX_2'), 'F1':'F28'] *= 1.005
submission.loc[submission['id'].str.contains('TX_3'), 'F1':'F28'] *= 1.005
submission.loc[:, 'F27':'F28'] *= 1.001
submission.loc[submission['id'].str.contains('CA'), 'F25':'F28'] *= 1.001

In [582]:
submission.to_csv('../data/output/submission_magic_local', index=False)

In [468]:
submission.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.342585,0.363931,0.356308,0.373486,0.372445,0.481104,0.557152,0.508588,0.531208,...,0.448816,0.552519,0.701578,0.440745,0.393566,0.364004,0.361251,0.404279,0.474972,0.521036
60976,FOODS_3_824_WI_3_evaluation,0.270230,0.238493,0.231297,0.244344,0.271913,0.316228,0.341351,0.393359,0.352509,...,0.265169,0.407619,0.489467,0.320329,0.257059,0.228116,0.214437,0.219945,0.305450,0.310835
60977,FOODS_3_825_WI_3_evaluation,0.694956,0.596344,0.558428,0.565271,0.668656,0.869732,0.955928,1.150351,1.083542,...,0.990237,1.420027,1.588656,1.028208,0.765344,0.713819,0.653495,0.721967,0.890072,0.897576
60978,FOODS_3_826_WI_3_evaluation,0.962204,0.931224,0.886298,0.891164,0.989127,1.226493,1.218837,1.169552,1.142263,...,0.967021,1.331132,1.379025,0.990990,0.942122,0.865020,0.837749,0.949188,1.056259,1.205945
60979,FOODS_3_827_WI_3_evaluation,0.812062,0.969900,0.958343,0.934472,1.344630,1.651565,1.500525,1.359658,1.119015,...,1.662834,2.210705,2.128200,1.461871,1.438242,1.410733,1.359352,1.716790,2.175102,2.128390

In [146]:
data11 = data11[data11['id'].str.endswith('evaluation')]
data11 = data11.melt()

In [171]:
data11.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.246516,0.297632,0.273212,0.254761,0.289878,0.371652,0.355169,0.340496,0.363809,...,0.283110,0.331310,0.486469,0.334623,0.282232,0.271231,0.262222,0.307261,0.347172,0.392014
60976,FOODS_3_824_WI_3_evaluation,0.206293,0.193332,0.183787,0.195356,0.225116,0.303804,0.260199,0.298252,0.276743,...,0.187007,0.314938,0.386357,0.235181,0.184209,0.168206,0.149906,0.153118,0.211915,0.213495
60977,FOODS_3_825_WI_3_evaluation,0.595155,0.494829,0.462622,0.452908,0.574092,0.863616,0.899040,1.136059,0.996877,...,0.961818,1.484909,1.660169,1.096466,0.710051,0.650994,0.580669,0.641354,0.794613,0.789611
60978,FOODS_3_826_WI_3_evaluation,0.879328,0.892579,0.892089,0.928622,1.023092,1.343941,1.174901,1.180034,1.109836,...,0.897877,1.344707,1.312171,0.946120,0.835620,0.740261,0.722042,0.875493,1.050402,1.238139
60979,FOODS_3_827_WI_3_evaluation,1.079446,1.034141,1.040624,0.847591,1.158759,1.321919,1.007273,1.048856,0.894039,...,1.592406,2.322075,2.231408,1.726527,1.666851,1.716713,1.672285,2.089090,2.640353,2.602641

In [147]:
data33.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.4320,0.3738,0.3940,0.6810,0.4153,0.7150,1.1950,0.8325,0.6777,...,0.667,0.8994,1.0080,0.5605,0.5290,0.5103,0.5260,0.6016,0.776,0.7954
60976,FOODS_3_824_WI_3_evaluation,0.3374,0.2990,0.2966,0.2998,0.3352,0.3645,0.4350,0.4187,0.2960,...,0.259,0.4358,0.4644,0.2306,0.2224,0.2207,0.2251,0.2366,0.288,0.3000
60977,FOODS_3_825_WI_3_evaluation,0.8450,0.7524,0.7930,0.7915,0.7915,0.9404,1.1240,1.0290,0.9834,...,1.070,1.3670,1.3800,0.8633,0.8050,0.8247,0.8400,0.8936,1.085,1.1480
60978,FOODS_3_826_WI_3_evaluation,0.9350,0.8630,0.8250,0.8135,0.9140,0.7954,1.2030,0.8145,0.8027,...,0.845,1.1650,1.2400,0.7793,0.7650,0.7930,0.7563,0.8623,0.940,1.0000
60979,FOODS_3_827_WI_3_evaluation,0.9116,0.9897,0.9310,0.9050,0.8810,0.8013,0.7197,1.1890,1.1220,...,1.019,1.3600,1.5000,0.8994,0.8450,0.8184,0.8457,0.9530,1.181,1.2730

In [570]:
data1 = pd.read_csv('../data/output/output_all_features_recursive_less_1969_submission_v1.csv')
data2 = pd.read_csv('../data/output/output_all_features_onetime_add2ids_recursive_less_1969_submission_v1.csv')
data3 = pd.read_csv('../data/output/dnn_fake_eval_eval_day.csv')
data4 = pd.read_csv('../data/output/output_all_features_1969_submission_v1.csv')
data5 = pd.read_csv('../data/output/output_cat_emb_baseline_1969_submission_v1.csv')
submission = data1.copy()

In [571]:
for c in submission.columns :
    if c != 'id' :
        submission[c] = (0.3*data1[c] + 0.3*data2[c] + 0.2*data3[c]/1.02 + 0.15*data4[c] + 0.05*data5[c])*1.02
submission.fillna(0, inplace=True)

In [572]:
submission.loc[submission['id'].str.contains('CA_1'), 'F1':'F28'] *= 0.9988
submission.loc[submission['id'].str.contains('CA_2'), 'F1':'F28'] *= 1.032
submission.loc[submission['id'].str.contains('CA_3'), 'F1':'F28'] *=  0.9988
submission.loc[submission['id'].str.contains('CA_4'), 'F1':'F28'] *= 1.001
submission.loc[submission['id'].str.contains('WI_1'), 'F1':'F28'] *= 1.0
submission.loc[submission['id'].str.contains('WI_2'), 'F1':'F28'] *= 1.015
submission.loc[submission['id'].str.contains('WI_3'), 'F1':'F28'] *= 1.005
submission.loc[submission['id'].str.contains('TX_1'), 'F1':'F28'] *= 1.0
submission.loc[submission['id'].str.contains('TX_2'), 'F1':'F28'] *= 1.002
submission.loc[submission['id'].str.contains('TX_3'), 'F1':'F28'] *= 1.002
submission.loc[:, 'F27':'F28'] *= 1.001
submission.loc[submission['id'].str.contains('CA'), 'F25':'F28'] *= 1.001

In [573]:
submission.to_csv('../data/output/submission_private_local.csv',index=False)

In [574]:
submission.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.470918,0.469689,0.479981,0.641139,0.679899,0.533212,0.602707,0.552243,0.657786,...,0.623755,0.811858,0.962752,0.648444,0.594595,0.625048,0.480002,0.532477,0.641774,0.697904
60976,FOODS_3_824_WI_3_evaluation,0.231922,0.340823,0.332420,0.328429,0.197021,0.250818,0.256338,0.254238,0.350472,...,0.280966,0.371027,0.396471,0.307592,0.338693,0.333189,0.285764,0.256819,0.343213,0.326317
60977,FOODS_3_825_WI_3_evaluation,0.602065,0.496950,0.570411,0.560712,0.504379,0.791904,0.734677,0.697989,0.480103,...,0.741259,1.102007,1.340495,0.977194,1.009752,1.079009,0.710410,0.738507,0.789148,0.880216
60978,FOODS_3_826_WI_3_evaluation,1.085241,1.334095,0.951628,1.044248,1.208709,1.181357,1.051709,1.339518,1.058530,...,1.112664,1.521146,1.634185,1.212422,1.347832,1.304666,1.125787,1.137085,1.325586,1.303958
60979,FOODS_3_827_WI_3_evaluation,1.605374,1.578748,1.632845,1.716078,1.927548,2.167587,2.100253,1.781368,1.658710,...,1.712219,2.314118,2.387099,1.834210,1.999709,1.942135,1.621879,1.880034,2.212671,2.144476

In [575]:
sales = pd.read_csv('../data/input/m5-forecasting-accuracy/sales_train_evaluation.csv')
#この１行で
submission.iloc[:30490, 1:] = sales.iloc[:, -28:].values

In [576]:
submission.head()
submission.to_csv('../data/output/submission_private_8.csv', index=False)

In [577]:
submission.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.470918,0.469689,0.479981,0.641139,0.679899,0.533212,0.602707,0.552243,0.657786,...,0.623755,0.811858,0.962752,0.648444,0.594595,0.625048,0.480002,0.532477,0.641774,0.697904
60976,FOODS_3_824_WI_3_evaluation,0.231922,0.340823,0.332420,0.328429,0.197021,0.250818,0.256338,0.254238,0.350472,...,0.280966,0.371027,0.396471,0.307592,0.338693,0.333189,0.285764,0.256819,0.343213,0.326317
60977,FOODS_3_825_WI_3_evaluation,0.602065,0.496950,0.570411,0.560712,0.504379,0.791904,0.734677,0.697989,0.480103,...,0.741259,1.102007,1.340495,0.977194,1.009752,1.079009,0.710410,0.738507,0.789148,0.880216
60978,FOODS_3_826_WI_3_evaluation,1.085241,1.334095,0.951628,1.044248,1.208709,1.181357,1.051709,1.339518,1.058530,...,1.112664,1.521146,1.634185,1.212422,1.347832,1.304666,1.125787,1.137085,1.325586,1.303958
60979,FOODS_3_827_WI_3_evaluation,1.605374,1.578748,1.632845,1.716078,1.927548,2.167587,2.100253,1.781368,1.658710,...,1.712219,2.314118,2.387099,1.834210,1.999709,1.942135,1.621879,1.880034,2.212671,2.144476

In [578]:
submission.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [431]:
calendar = pd.read_csv('../data/input/m5-forecasting-accuracy/calendar.csv')
calendar.tail(56)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
1913,2016-04-25,11613,Monday,3,4,2016,d_1914,NaN,NaN,NaN,NaN,0,0,0
1914,2016-04-26,11613,Tuesday,4,4,2016,d_1915,NaN,NaN,NaN,NaN,0,0,0
1915,2016-04-27,11613,Wednesday,5,4,2016,d_1916,NaN,NaN,NaN,NaN,0,0,0
1916,2016-04-28,11613,Thursday,6,4,2016,d_1917,NaN,NaN,NaN,NaN,0,0,0
1917,2016-04-29,11613,Friday,7,4,2016,d_1918,NaN,NaN,NaN,NaN,0,0,0
1918,2016-04-30,11614,Saturday,1,4,2016,d_1919,Pesach End,Religious,NaN,NaN,0,0,0
1919,2016-05-01,11614,Sunday,2,5,2016,d_1920,OrthodoxEaster,Religious,NaN,NaN,1,1,0
1920,2016-05-02,11614,Monday,3,5,2016,d_1921,NaN,NaN,NaN,NaN,1,0,1
1921,2016-05-03,11614,Tuesday,4,5,2016,d_1922,NaN,NaN,NaN,NaN,1,1,1
1922,2016-05-04,11614,Wednesday,5,5,2016,d_1923,NaN,NaN,NaN,NaN,1,0,0
1923,2016-05-05,11614,Thursday,6,5,2016,d_1924,Cinco De Mayo,Cultural,NaN,NaN,1,1,1
1924,2016-05-06,11614,Friday,7,5,2016,d_1925,NaN,NaN,NaN,NaN,1,1,1
1925,2016-05-07,11615,Saturday,1,5,2016,d_1926,NaN,NaN,NaN,NaN,1,1,0
1926,2016-05-08,11615,Sunday,2,5,2016,d_1927,Mother's day,Cultural,NaN,NaN,1,0,1
1927,2016-05-09,11615,Monday,3,5,2016,d_1928,NaN,NaN,NaN,NaN,1,1,1
1928,2016-05-10,11615,Tuesday,4,5,2016,d_1929,NaN,NaN,NaN,NaN,1,0,0
1929,2016-05-11,11615,Wednesday,5,5,2016,d_1930,NaN,NaN,NaN,NaN,0,1,1
1930,2016-05-12,11615,Thursday,6,5,2016,d_1931,NaN,NaN,NaN,NaN,0,1,1
1931,2016-05-13,11615,Friday,7,5,2016,d_1932,NaN,NaN,NaN,NaN,0,1,0
1932,2016-05-14,11616,Saturday,1,5,2016,d_1933,NaN,NaN,NaN,NaN,0,0,1
1933,2016-05-15,11616,Sunday,2,5,2016,d_1934,NaN,NaN,NaN,NaN,0,1,1
1934,2016-05-16,11616,Monday,3,5,2016,d_1935,NaN,NaN,NaN,NaN,0,0,0
1935,2016-05-17,11616,Tuesday,4,5,2016,d_1936,NaN,NaN,NaN,NaN,0,0,0
1936,2016-05-18,11616,Wednesday,5,5,2016,d_1937,NaN,NaN,NaN,NaN,0,0,0
1937,2016-05-19,11616,Thursday,6,5,2016,d_1938,NaN,NaN,NaN,NaN,0,0,0
1938,2016-05-20,11616,Friday,7,5,2016,d_1939,NaN,NaN,NaN,NaN,0,0,0
1939,2016-05-21,11617,Saturday,1,5,2016,d_1940,NaN,NaN,NaN,NaN,0,0,0
1940,2016-05-22,11617,Sunday,2,5,2016,d_1941,NaN,NaN,NaN,NaN,0,0,0
1941,2016-05-23,11617,Monday,3,5,2016,d_1942,NaN,NaN,NaN,NaN,0,0,0
1942,2016-05-24,11617,Tuesday,4,5,2016,d_1943,NaN,NaN,NaN,NaN,0,0,0
1943,2016-05-25,11617,Wednesday,5,5,2016,d_1944,NaN,NaN,NaN,NaN,0,0,0
1944,2016-05-26,11617,Thursday,6,5,2016,d_1945,NaN,NaN,NaN,NaN,0,0,0
1945,2016-05-27,11617,Friday,7,5,2016,d_1946,NaN,NaN,NaN,NaN,0,0,0
1946,2016-05-28,11618,Saturday,1,5,2016,d_1947,NaN,NaN,NaN,NaN,0,0,0
1947,2016-05-29,11618,Sunday,2,5,2016,d_1948,NaN,NaN,NaN,NaN,0,0,0
1948,2016-05-30,11618,Monday,3,5,2016,d_1949,MemorialDay,National,NaN,NaN,0,0,0
1949,2016-05-31,11618,Tuesday,4,5,2016,d_1950,NaN,NaN,NaN,NaN,0,0,0
1950,2016-06-01,11618,Wednesday,5,6,2016,d_1951,NaN,NaN,NaN,NaN,1,1,0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,NaN,1,0,1
1952,2016-06-03,11618,Friday,7,6,2016,d_1953,NaN,NaN,NaN,NaN,1,1,1
1953,2016-06-04,11619,Saturday,1,6,2016,d_1954,NaN,NaN,NaN,NaN,1,0,0
1954,2016-06-05,11619,Sunday,2,6,2016,d_1955,NaN,NaN,NaN,NaN,1,1,1
1955,2016-06-06,11619,Monday,3,6,2016,d_1956,NaN,NaN,NaN,NaN,1,1,1
1956,2016-06-07,11619,Tuesday,4,6,2016,d_1957,Ramadan starts,Religious,NaN,NaN,1,1,0
1957,2016-06-08,11619,Wednesday,5,6,2016,d_1958,NaN,NaN,NaN,NaN,1,0,1
1958,2016-06-09,11619,Thursday,6,6,2016,d_1959,NaN,NaN,NaN,NaN,1,1,1
1959,2016-06-10,11619,Friday,7,6,2016,d_1960,NaN,NaN,NaN,NaN,1,0,0
1960,2016-06-11,11620,Saturday,1,6,2016,d_1961,NaN,NaN,NaN,NaN,0,1,1
1961,2016-06-12,11620,Sunday,2,6,2016,d_1962,NaN,NaN,NaN,NaN,0,1,1
1962,2016-06-13,11620,Monday,3,6,2016,d_1963,NaN,NaN,NaN,NaN,0,1,0
1963,2016-06-14,11620,Tuesday,4,6,2016,d_1964,NaN,NaN,NaN,NaN,0,0,1
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [490]:
submission.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.470918,0.469689,0.479981,0.641139,0.679899,0.533212,0.602707,0.552243,0.657786,...,0.623755,0.811858,0.962752,0.648444,0.594595,0.625048,0.480002,0.532477,0.641774,0.697904
60976,FOODS_3_824_WI_3_evaluation,0.231922,0.340823,0.332420,0.328429,0.197021,0.250818,0.256338,0.254238,0.350472,...,0.280966,0.371027,0.396471,0.307592,0.338693,0.333189,0.285764,0.256819,0.343213,0.326317
60977,FOODS_3_825_WI_3_evaluation,0.602065,0.496950,0.570411,0.560712,0.504379,0.791904,0.734677,0.697989,0.480103,...,0.741259,1.102007,1.340495,0.977194,1.009752,1.079009,0.710410,0.738507,0.789148,0.880216
60978,FOODS_3_826_WI_3_evaluation,1.085241,1.334095,0.951628,1.044248,1.208709,1.181357,1.051709,1.339518,1.058530,...,1.112664,1.521146,1.634185,1.212422,1.347832,1.304666,1.125787,1.137085,1.325586,1.303958
60979,FOODS_3_827_WI_3_evaluation,1.605374,1.578748,1.632845,1.716078,1.927548,2.167587,2.100253,1.781368,1.658710,...,1.712219,2.314118,2.387099,1.834210,1.999709,1.942135,1.621879,1.880034,2.212671,2.144476

In [558]:
submission_real = pd.read_csv('../data/output/submission_private_7')

In [559]:
submission_real.head()

,Unnamed: 0,id,F1,F2,F3,F4,F5,F6,F7,F8,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [560]:
submission_real.tail()

,Unnamed: 0,id,F1,F2,F3,F4,F5,F6,F7,F8,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,60975,FOODS_3_823_WI_3_evaluation,0.470918,0.469689,0.479981,0.641139,0.679899,0.533212,0.602707,0.552243,...,0.623755,0.811858,0.962752,0.648444,0.594595,0.625048,0.480002,0.532477,0.641774,0.697904
60976,60976,FOODS_3_824_WI_3_evaluation,0.231922,0.340823,0.332420,0.328429,0.197021,0.250818,0.256338,0.254238,...,0.280966,0.371027,0.396471,0.307592,0.338693,0.333189,0.285764,0.256819,0.343213,0.326317
60977,60977,FOODS_3_825_WI_3_evaluation,0.602065,0.496950,0.570411,0.560712,0.504379,0.791904,0.734677,0.697989,...,0.741259,1.102007,1.340495,0.977194,1.009752,1.079009,0.710410,0.738507,0.789148,0.880216
60978,60978,FOODS_3_826_WI_3_evaluation,1.085241,1.334095,0.951628,1.044248,1.208709,1.181357,1.051709,1.339518,...,1.112664,1.521146,1.634185,1.212422,1.347832,1.304666,1.125787,1.137085,1.325586,1.303958
60979,60979,FOODS_3_827_WI_3_evaluation,1.605374,1.578748,1.632845,1.716078,1.927548,2.167587,2.100253,1.781368,...,1.712219,2.314118,2.387099,1.834210,1.999709,1.942135,1.621879,1.880034,2.212671,2.144476